{% extends 'base.html' %} {% block title %}Your Tasks{% endblock %} {% block
content %}
<div class="row align-items-center mb-4">
  <div class="col-md-6">
    <h2 class="text-left">Your Tasks</h2>
  </div>
  <div class="col-md-6 text-right">
    <a class="btn btn-outline-success" href="{{ url_for('task.new_task') }}"
      >New Task</a
    >
  </div>
</div>

<!-- Display a message if there are no tasks -->
{% if not tasks %}
<div class="alert alert-info" role="alert">You have no tasks.</div>
{% else %}
<div class="accordion" id="taskAccordion">
  {% for task in tasks %}
  <div class="card mb-3 border-2">
    <div class="card-header" id="heading{{ loop.index }}">
      <h3 class="mb-0">
        <button
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          data-target="#collapse{{ loop.index }}"
          aria-expanded="true"
          aria-controls="collapse{{ loop.index }}"
          style="font-weight: bold; color: #343a40"
        >
          <!-- Bold and Darker Color -->
          {{ task.title }}
        </button>
      </h3>
    </div>

    <div
      id="collapse{{ loop.index }}"
      class="collapse"
      aria-labelledby="heading{{ loop.index }}"
      data-parent="#taskAccordion"
    >
      <div class="card-body">
        <p class="card-text h5">{{ task.description }}</p>
        <p class="card-text h5">
          <small class="text-muted"
            >Due Date: {{ task.due_date.strftime('%Y-%m-%d %H:%M') if
            task.due_date else 'No due date' }}</small
          >
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
